backup/one-token.json
home-assistant/deps
home-assistant/tts
home-assistant/custom_components/
home-assistant/themes/
home-assistant/www/
home-assistant/*.log
home-assistant/*.db
home-assistant/.HA_VERSION
home-assistant/.storage/
home-assistant/.cloud/
home-assistant/secrets.yaml
sabnzbd
unifi
node-red
nzbhydra
sonarr
radarr
grocy/*
!grocy/config.php
compose/docker-compose.yaml
.duplicacy
adguard/work
/config/traefik/acme.json